<div class="grid-100 row controls">
  <div class="grid-30">
     <select name="sortValue" id="sortValue" ng-model="sortValue">
      <option value="">All Categories</option>
      <option value="{{category.name}}" ng-repeat="category in categories">{{category.name}}</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <!-- TODO Add a directive to this button in order to handle 
        when the user clicks to add a new recipe. -->
      <button ng-click="addNewRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row" ng-if="filtered.length == 0" >
  <div class="grid-70">
    <p>No recipes found! </p>
  </div>
</div>

<div class="grid-100 row addHover" ng-if="filtered.length > 0" ng-repeat="recipe in allrecipes | filter: {category: sortValue||''} as filtered track by $index">
  <!-- TODO Replace this anchor element's href attribute with a 
    directive so that you can route the user to the Recipe Detail 
    screen when they click on a row. -->
  <a href="#">
    <div class="grid-70">
        <h3>{{recipe.name}}</h3>
      <p>
        {{recipe.description}}
      </p>
      <p class="category">{{recipe.category}}</p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <!-- TODO Replace this anchor element's href attribute with a 
            directive so that you can route the user to the Recipe Detail 
            screen when they click on the 'Edit' link. -->
          <a href="#"> <img src="images/edit.svg" height="12px"> Edit </a>
          <!-- TODO Add a directive to this anchor element so that you can 
            delete the recipe when the user clicks on the 'Delete' link. -->
          <a class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
